/* typography */
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}
#pageContainer {
  position: relative;
}
#contentWrap {
  flex: 1 0 auto;
  /* padding-bottom: 13.9rem; */
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
}
h1 {
  font-size: 5.8rem;
  margin: 0;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.1rem;
}
/* links */
a {
  text-decoration: none;
  color: #000;
}
/* navigation */
header {
  z-index: 1;
  position: sticky;
  top: 0;
}
.logo {
  margin-right: 5vw;
  width: 116px;
  height: 44px;
}
/* nav */
.nav {
  display: flex;
  align-items: center;
  height: 8rem;
  background-color: #fff;
  font-weight: 300;
  padding: 0 5rem 0 3rem;
  position: relative;
}
.nav__links {
  display: flex;
}
.nav-list__item {
  padding-left: 3vw;
}
.nav__list a {
  display: none;
  font-size: 2.1rem;
}
.navlist__option1:hover .subnav__option1 {
  display: flex;
  flex-direction: column;
}
.navlist__option2:hover .subnav__option2 {
  display: flex;
  flex-direction: column;
}
.nav__phone {
  display: none;
  position: absolute;
  right: 3rem;
  font-size: 2rem;
}
/* subnav */
.subnav__option1 {
  width: 32vw;
  padding: 6rem 0 0 2rem;
  background-color: #fff;
  position: absolute;
  display: none;
}
.subnav__option2 {
  width: 32vw;
  position: absolute;
  padding: 6rem 0 0 2rem;
  background-color: #fff;
  display: none;
}
.subnav__outer {
  width: 27vw;
  border-top: 1px solid black;
  padding-top: 2rem;
}
.subnav__inner {
  width: 25vw;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}
.subnav-inner li {
  list-style-type: none;
}
.subnav__list {
  margin-bottom: 2rem;
}
.subnav__list a {
  padding-bottom: 0.35rem;
  color: #888888;
}
.subnav__list li {
  padding: 0.25rem;
}

/* responsive navigation */
.nav__trigger {
  display: flex;
  position: absolute;
  right: 20px;
  top: 0px;
  font-size: 3em;
  z-index: 10;
}
.mobile-navbar {
  display: block;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100%;
  padding-left: 1rem;
  z-index: 2;
  transition: left 0.2s;
  background-color: #262626;
}

.mobile-navbar-option01 {
  display: block;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100%;
  padding-left: 3rem;
  z-index: 2;
  transition: right 0.2s;
  background-color: #262626;
}
.mobile-navbar-option02 {
  display: block;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100%;
  padding-left: 2rem;
  z-index: 2;
  transition: right 0.2s;
  background-color: #262626;
}

.change-left {
  left: 0;
}
.change-right {
  right: 0;
}
.active {
  display: none;
}
.display-flex {
  display: flex;
}
.mobile-nav-link {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 3.2rem;
}
.mobile-nav-list-op1 {
  margin-top: 10rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-decoration: none;
  padding: 2rem;
}
.mobile-nav-list {
  /* margin-top: 10rem; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-decoration: none;
  padding: 2rem;
}
.mobile-close-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.mobile-phone {
  font-weight: 300;
  font-size: 3.2rem;
  color: white;
}
.mobile-nav-box-container {
  margin-top: 10rem;
}
.mobile-nav-box-container h3 {
    font-weight: 800;
}
.sub-mobile-nav-item a {
  font-weight: 300;
  font-size: 2.4rem;
  list-style-type: none;
  color: white;
  line-height: 1.5;
  margin-inline-start: -4rem;
}
.mobile-navbar-option01 h3 {
  margin-bottom: .5rem;
  color: white;
}
.mobile-navbar-option02 h3 {
  margin-bottom: .5rem;
  color: white;
}
.mobile-nav-box {
  border-top: 1px solid white;
  width: 80vw;
}
.arrow-right01 {
  margin-top: 1rem;
  /* align-items: center; */
  width: 50%;
}
.arrow-right02 {
  margin-top: 1rem;
  /* align-items: center; */
  width: 50%;
}
img.inverted-arrow01 {
  padding-top: 2rem;
  padding-left: 20px;
  width: 7.5rem;
}
img.inverted-arrow02 {
  padding-top: 2rem;
  padding-left: 20px;
  width: 7.5rem;
}

/* banner */
.main-banner {
  display: flex;
  background-image: linear-gradient(
    108.02deg,
    rgba(159, 39, 179, 0.4) 5.5%,
    rgba(241, 31, 119, 0.4) 95.38%
  );
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.75rem;
  margin-bottom: 4rem;
  padding: 0 1rem;
}
.banner-content h1 {
  font-size: 3.2rem;
  font-weight: 900;
}
.banner-content p {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.6;
}
#banner__modalButton {
  font-weight: 900;
  font-size: 2.1rem;
  background-color: transparent;
  /* width: 233px;
  height: 41px; */
  border: 1px solid black;
  padding: 0.75rem 2rem;
  width: 105%;
}
/* modal */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border-radius: 1rem;
  padding: 20px;
  border: 1px solid #888;
  width: 100vw;
  height: 295px;
}

.modal__inner {
  padding-top: 2rem;
  padding-left: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__inner h4 {
  font-size: 2.1rem;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.sign-up__button {
  font-weight: 900;
  font-size: 1.8rem;
  color: #fff;
  width: 126px;
  height: 40px;
  background-color: #158bb0;
  border-color: #158bb0;
}

.modal__input {
  font-weight: 300;
  color: #909090;
  font-size: 1.8rem;
  /* width: 520px; */
  height: 40px;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  margin-left: 0.1rem;
  padding-left: 2rem;
  /* border: 5px solid */
}
/* products */
.products {
  padding-top: 4.3rem;
}
.products-grid__img-responsive {
  width: 100%;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
}
.grid-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.products h3 {
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.1rem;
}
.products-caption {
  margin-top: 2rem;
}
.products-caption h4 {
  font-weight: 900;
}
.products-caption p {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
  margin-top: 1rem;
  max-width: 411px;
}
.products-grid {
  display: grid;
  grid-row-gap: 0;
  grid-template-columns: 1fr;
  grid-auto-columns: minmax(300px, auto);
  grid-auto-rows: minmax(350px, auto);
}
.product {
  display: grid;
  justify-content: center;
  font-size: 2rem;
  height: 4rem;
  margin: 0 2rem;
}

footer {
  margin: 0 auto;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  background-color: #ededed;
  height: 13.9rem;
}

footer p {
  font-weight: 400;
  font-size: 1.4rem;
  width: 100%;
}
.fa-phone {
  padding-right: 0.6rem;
}
@media screen and (min-width: 400px) {
  #banner__modalButton {
    width: auto;
    height: auto;
  }
  .products-grid {
    grid-auto-rows: minmax(420px, auto);
  }
  .products {
    margin-top: 3rem;
  }
  .products h3 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
  }
  .products-caption p {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) {
  .nav__trigger {
    display: none;
  }
  .nav__phone {
    display: flex;
  }
  .nav__list a {
    display: flex;
  }
  .mobile-navbar {
    display: none;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    margin-top: 4.75rem;
    margin-bottom: 4rem;
    padding: 0 0 2rem 10rem;
  }
  .banner-content h1 {
    font-size: 4.8rem;
  }
  .banner-content p {
    font-size: 2.1rem;
  }
  .modal-content {
    width:600px;
  }
  .modal__input {
    margin-top: 4rem;
    width: 520px;
  }
  .modal__inner h4 {
    font-size: 2.8rem;
  }

}

@media screen and (min-width: 1025px) {
  .nav {
    display: flex;
    align-items: center;
    height: 8rem;
    background-color: #fff;
    padding: 0 12rem 0 10rem;
    font-weight: 300;
  }
  .nav__phone {
    position: absolute;
    right: 10rem;
    font-size: 2rem;
  }
  .subnav__inner {
    width: 20vw;
  }
  .subnav__option1 {
    width: 32vw;
    padding: 6rem 0 0 5rem;
  }
  .subnav__option2 {
    width: 32vw;
    padding: 6rem 0 0 5rem;
  }
  .banner-content h1 {
    font-size: 5.8rem;
  }
  .product {
    display: grid;
    justify-content: center;
    font-size: 2rem;
    height: auto;
    margin-bottom: 8rem;
  }
  .products-grid {
    margin-top: 3rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: minmax(300px, auto);
    grid-auto-rows: minmax(300px, auto);
  }
}
